<div class="card">
    <h4 class="card-header">Reset Account password</h4>
    <div class="card-body">
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" id="email"  placeholder="Enter email">
        <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.pattern">Email is not valid</div>
        </div>
      </div>
      <div class="form-group" [ngStyle]="{'display':isOtpSent?'block':'none'}">
        <label for="otp">OTP</label>
        <input type="number" formControlName="otp" class="form-control" [ngClass]="{ 'is-invalid': f.otp.touched && f.otp.errors }" id="OTP" placeholder="OTP">
        <div *ngIf="f.otp.touched && f.otp.errors" class="invalid-feedback">
          <div *ngIf="f.otp.errors.required">Please enter a 6 digit otp</div>
        </div>
      </div>
      
      <button  [disabled]="loading" type="submit" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button><br/>
        <button (click)="retry()" type="reset" class="btn btn-primary">Reset</button>
        <a routerLink="../login" class="btn btn-link">Back to login</a>

    </form>
  </div>
  </div>

  <a (click)="clicked()">Authenticate</a>